.map__image{
    width: 75%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.map__image path{
    fill: #66686b;
    stroke: #000;
    stroke-width: 1.5px;
    transition: fill 0.3;
}

.map__image path:hover{
    fill: #719bdb;
}
